@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap')

*
    margin: 0
    font-family: 'Nunito', sans-serif
body
    background-color: lightskyblue
#root
    display: grid
    justify-content: center
    align-items: center
    height: 100vh
    width: 100vw
    overflow: hidden
    .App
        display: inherit
        justify-content: center
        align-content: space-evenly
        gap: 15px
        position: relative
        width: 85vw
        min-width: 325px
        max-width: 800px
        height: 70vh
        max-height: 450px
        min-height: 300px
        background-color: white
        border-radius: 50px
        &:before,
        &:after 
            content: ''
            display: block
            height: 50px
            position: absolute
            border-radius: 0 0 30px 30px
        &:before
            width: 95%
            background-color: rgba(255, 255, 255, 0.8)
            top: 91%
            left: 2.5%
            z-index: -1
        &:after 
            width: 90%
            background-color: rgba(255, 255, 255, 0.3)
            top: 93%
            left: 5%
            z-index: -2
        h1
            font-size: 4vh
            font-weight: 500
        ul   
            padding: 0
            li
                user-select: none
                list-style-type: none
                font-size: 2vh
                margin: 15px 0 0
                padding: 10px 15px
                border-radius: 15px
                border: 3px solid #cacaca8c
                transition: background 0.1s ease-in-out
                cursor: pointer
                background-color: #fff
                filter: drop-shadow(0 3px 1px #a3a3a383)
                &:hover
                    background-color: #f5f5f579
                &:active
                    filter: drop-shadow(0px 2px 1px #b6b6b6e3)
        .progress 
            height: 10px
            width: 75vw
            border: 1px solid #acacacb7
            min-width: 300px
            max-width: 750px
            border-radius: 30px
            background-color: rgba(232, 232, 232, 0.356)
            filter: drop-shadow(2px 2px 1px #b6b6b679)
            &__inner 
                height: 100%
                border-radius: 30px
                width: 80%
                transition: all 0.3s ease-in-out
                background: linear-gradient(90deg, rgb(0 255 36), rgb(40 219 255))
        .result
            display: inherit
            gap: 15px
            justify-items: center
            button
                color: #fff
                font-size: 2.5vmin
                padding: 10px 25px
                border: 0
                border-radius: 30px
                background: linear-gradient(45deg, #ff0037, #bd36b0)
                transition: transform 0.3s
                cursor: pointer
                &:hover
                    transform: scale(1.2) translateY(5px)
            h1
                font-size: 4vmin
            img
                max-width: 20vmin
                user-select: none
                filter: drop-shadow(2px 4px 4px black)
        